:root {

}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
 /*  overflow-x: hidden; */
}


body{
  background: #181d25;
  position: relative;
}


.periodicTable {
  display: grid;
  gap: 2px;
  margin: 10px auto; 
  display: grid; 
  grid-template-columns: repeat(18, 1fr);
  width: fit-content;
}



.periodicTable .keyBox{
 
  grid-column: 3/13;
  grid-row: 2/4;
  padding: 10px;
}

.periodicTable .keyBox .categories{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
 
  height: 100px;
 
}

.periodicTable .keyBox .categories .single{
  display: flex;
  align-items: center;
  color: #fff;
  cursor: pointer;

}
.periodicTable .keyBox .categories .single .categoryColor{
  height: 15px;
  width: 15px;
  border-radius: 3px;
  margin: 5px;

}
.periodicTable .keyBox .categories .single .category{
  font-size: 14px;

}
.periodicTable .keyBox .categories .single .category:first-letter {
  text-transform: uppercase;
}
.periodicTable .keyBox  .matterPhase{
  display: flex;
  place-content: center;
  margin-bottom: 15px;
}
.periodicTable .keyBox  .btmContainer{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.periodicTable .keyBox  .btmContainer .section{
  margin: 0 15px;
}
.periodicTable .keyBox  .matterPhase .single{
  margin: 4px;
  cursor: pointer;
  height: 80px;
  width: 80px;
  display: flex;
  ALIGN-ITEMS: CENTER;
  justify-content: center;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  border-radius: 8px;
}
.periodicTable .keyBox   .currentTemp {
  display: flex;
}
.periodicTable .keyBox   .currentTemp .single {
  color: #fff;
  font-size: 20px;
  margin: 0 15px;
}
.periodicTable .keyBox   .currentTemp .single:nth-of-type(2){
 
  padding: 0 15px;
  border-right: 1px solid #999999;
  border-left: 1px solid #999999;
}
.periodicTable .keyBox  .title{
  color: #fff;
  margin-bottom: 10px;
  display: block;
}

.periodicTable  .displayMode{
 
  grid-column: 2/18;
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.periodicTable  .displayMode .dropdown{
  min-width: 250px;
}
.periodicTable  .displayMode .sliderMode{
  display: flex;
  align-items: center;

}
.slider {
  -webkit-appearance: none;
  width: 500px;
  height: 15px;
  border-radius: 5px;
  background: rgb(0,22,255);
background: linear-gradient(90deg, rgba(0,22,255,1) 0%, rgba(255,0,0,1) 100%);
  outline: none; 
  -webkit-transition: .2s;
  transition: opacity .2s;
  
}
 

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #fff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #fff;
  cursor: pointer;
}
.periodicTable  .displayMode .sliderMode .radioLabel{
  color: #fff;
  font-size: 16px;
  display: block;
  margin: 5px;
}

.periodicTable  .displayMode .sliderMode .radioLabel input {
  margin-right: 5px;
}


.periodicTable .element {

 
  height: 75px;
  width: 70px;
  display: flex;
  flex-direction: column;
  padding: 1px;
  background: #999999;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  border: 1px solid #cecccc42;
}
 .periodicTable .element .topBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
.periodicTable .element .atomicNumber{
font-size: 11px;
font-weight: 700;
}
.periodicTable .element .symbol{
  flex: 1;
 
  display: flex;
  align-items: center;
  align-self: center;
  font-size: 35px;
  font-weight: 700;
}
.periodicTable .element .name{
  font-size: 11px;
  text-align: center;
}
.periodicTable .element .shells{
  font-size: 7px;
  text-align: center;
}
.periodicTable .element .atomicWeight{
font-size: 10px;
}
 



.DrawerContainer{
  min-height: 300px;
  background: #181d25de;
  position: sticky;

  right: 0;
  z-index: 9999;
  width: 100%;
  position: -webkit-sticky;

  bottom: 0;
}